server:
  port: 9527
spring:
  application:
    name: fenggou-zuul-gateway
zuul:
  ignored-services: "*" #用*来通配符，忽略从9527端口通过服务名来调用
  prefix: "/services" #这是所有路径的前缀
  routes:
    plat:
      path: /plat/**
      service-id: fenggou-plat
    product:
      path: /product/**
      service-id: fenggou-product
fenggou-product: 
  ribbon:
    ConnectTimeout: 10000
    ReadTimeout: 10000